---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsArticleCategory } from '~/utils/article';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/article/ListCategory.astro';
import Headline from '~/components/article/Headline2.astro';
import Pagination from '~/components/article/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsArticleCategory({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: string };

const { page, category } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `${
    category === 'market-potential'
      ? 'Technology Patent Growth & Market Potential | Intellectual Frontiers'
      : category === 'patent-summaries'
        ? 'Patent Summaries - Trending Patents Simplified | Intellectual Frontiers'
        : category === 'blogs'
          ? 'Intellectual Frontiers Blogs: Insights & Analysis'
          : category === 'use-cases'
            ? 'Practical Patent Applications | Use Cases at Intellectual Frontiers'
            : category === 'patent-landscape'
              ? 'Patent Landscape Insights | Intellectual Frontiers'
              : category.replaceAll('-', ' ')
  } ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description:
    category === 'market-potential'
      ? 'Explore in-depth growth analysis and market potential for technology patents listed on Intellectual Frontiers. Gain strategic insights before making patent purchase decisions.'
      : category === 'patent-summaries'
        ? 'Explore layman patent summaries of most-trending high-growth patents at Intellectual Frontiers. Check out expert insights and analysis.'
        : category === 'blogs'
          ? 'Engage with Intellectual Frontiers Blogs for the latest insights and comprehensive analysis on patents purchase, sale or licensing, technology trends, and innovation strategies.'
          : category === 'use-cases'
            ? 'Explore the diverse use cases of cutting-edge patents on Intellectual Frontiers. Gain actionable insights into how innovative technologies are transforming industries.'
            : category === 'patent-landscape'
              ? 'Discover key insights and trends in the patent landscape with Intellectual Frontiers. Gain a competitive edge in innovation and IP management.'
              : '',
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-6 mx-auto max-w-7xl">
    <Headline
      subtitle={category === 'market-potential'
        ? 'Access in-depth market analysis of patents with our Strategic Patent Insights, offering a clear view of market potentials and technological impact'
        : category === 'patent-summaries'
          ? 'Simplified Patent Overviews for Strategic Technology Evaluation and Investment Decisions'
          : category === 'blogs'
            ? 'Mastering IP Acquisitions: Expert Analyses and Resources in Patent Investment'
            : ''}
    >
      <span class="capitalize"
        >{
          category === 'market-potential'
            ? 'Market Potential of Leading Patents'
            : category === 'patent-summaries'
              ? 'Patent Summaries'
              : category === 'blogs'
                ? 'Blogs'
                : category.replaceAll('-', ' ')
        }</span
      >
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
