---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsArticleCategory } from '~/utils/article';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/article/List.astro';
import Headline from '~/components/article/Headline.astro';
import Pagination from '~/components/article/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsArticleCategory({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: string };

const { page, category } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `${
    category === 'market-potential'
      ? 'Market Potential of Intellectual Frontiers Leading Patents'
      : category.replaceAll('-', ' ')
  } ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description:
    category === 'market-potential'
      ? 'Access in-depth market analysis of patents with our Strategic Patent Insights, offering a clear view of market potentials and technological impact of Intellectual Frontiers Patents'
      : '',
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle={category === 'market-potential'
        ? 'Access in-depth market analysis of patents with our Strategic Patent Insights, offering a clear view of market potentials and technological impact'
        : ''}
    >
      <span class="capitalize"
        >{
          category === 'market-potential'
            ? 'Market Potential of Leading Patents'
            : category === 'patent-summaries'
              ? 'Simplified Patent Summaries for Strategic Technology Investment'
              : category.replaceAll('-', ' ')
        }</span
      >
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
