---
//Features 5
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import ItemGrid from "~/components/ui/ItemGrid.astro";
import Headline from "~/components/ui/Headline.astro";
import Button from "~/components/ui/Button.astro";
import type { Features } from "~/types";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline = await Astro.slots.render("tagline"),
  items = [],
  columns = 3,
  callToAction,
  defaultIcon,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render("bg"),
} = Astro.props as Features & { callToAction?: any };
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-6xl ${classes?.container ?? ""}`}
  bg={bg}
>
  <Headline
    title={title}
    tagline={tagline}
    classes={classes?.headline}
  />
  {subtitle && (
    <div class="mt-0 mb-5 text-center text-muted text-lg">
      <p set:html={subtitle} />
    </div>
  )}
  
  <ItemGrid
    items={items}
    columns={columns}
    defaultIcon={defaultIcon}
    classes={{
      container: "",
      title: "md:text-[1.3rem]",
      icon: "text-white bg-primary rounded-full w-10 h-10 p-2 md:w-12 md:h-12 md:p-3 mr-4 rtl:ml-4 rtl:mr-0",
      ...((classes?.items as {}) ?? {}),
    }}
  /> 
  
  {callToAction && (
    <div class="mt-14 flex justify-center">
      <Button {...callToAction} />
    </div>
  )}
</WidgetWrapper>