---
import Layout from '../../layouts/PageLayout.astro';
import BlogList from '../../components/blog/List.astro';
import Headline from '../../components/blog/Headline.astro';
import Pagination from '../../components/blog/Pagination.astro';
// import PostTags from "~/components/blog /Tags.astro";

import { blogListRobots, getStaticPathsPatentList } from '../../utils/patent';

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsPatentList({ paginate });
}

//console.log('-patent---',Astro.props)

const { page } = Astro.props;
//console.log(88888,page)

const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  // title: `Patents for Sale${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  title: 'Patents For Sale | Buy US Patents - Intellectual Frontiers',
  description: `Enhance your business with our diverse patent portfolio at Intellectual Frontiers. Find innovative solutions and buy patents for sale today!`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'patent',
    images: [
      {
        url: '/images/og-images/patents-for-sale.webp',
        width: 1200,
        height: 628,
      },
    ],
  },
  ignoreTitleTemplate: true,
};

//const a = page.data.filter(item => item.id.includes('patents'));
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-10 sm:py-10 lg:py-10 mx-auto max-w-4xl">
    <Headline
      subtitle="The patent portfolio showcases a decade of technological advancements and inventive breakthroughs by our lead inventor, Shahid Shah. You will find a wealth of intellectual assets ripe for acquisition, each providing a unique avenue to enhance and expand your business's technological capabilities."
    >
      Intellectual Frontiers lists patented inventions for sale or license
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
