---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Featurestopic from '~/components/widgets/Featurestopic.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import ArticleLatestPosts from '~/components/widgets/ArticleLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import FeaturedpatentContent from '../../support/featuredpatent.json';
import FeaturedTopics from '../../support/featuredtopics.json';
import MostViewedPatent from '../../support/mostviewpatent.json';
import Faq from '../../support/faq.json';
import { Schema } from 'astro-seo-schema';
import FeaturedDisclosure from '../../support/featureddisclosure.json';
import FeaturesDisclosure from '~/components/disclosure/FeaturesDisclosure.astro';
import MostViewedDisclosures from '~/components/disclosure/MostViewedDisclosures.astro';

const metadata = {
  title: 'Patent License | Buy and Sell Patents Online - Intellectual Frontiers',
  description:
    'Explore the extensive patent portfolio at Intellectual Frontiers. Buy, sell, and license advanced tech patents online for industry-leading solutions across various sectors. Discover innovation today!',
  ignoreTitleTemplate: true,
};
---

<!-- Hide the breadcrumb in the homepage with  hideBreadcrumbs set to true-->
<Layout metadata={metadata} hideBreadcrumbs={true}>
  <!-- Hero Widget ******************* -->
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'Organization',
      name: 'Intellectual Frontiers',
      alternateName: 'Intellectual Frontiers',
      url: 'https://www.intellectualfrontiers.com/',
      logo: 'https://www.intellectualfrontiers.com/images/IF-logo.svg',
      sameAs: 'https://twitter.com/i/flow/login?redirect_after_login=%2FIntelFrontiers',
    }}
  />
  <Schema
    item={{
      '@context': 'https://schema.org/',
      '@type': 'WebSite',
      name: 'Intellectual Frontiers',
      url: 'https://www.intellectualfrontiers.com',
      potentialAction: {
        '@type': 'SearchAction',
        target: 'https://www.intellectualfrontiers.com{search_term_string}',
        'query-input': 'required name=search_term_string',
      },
    }}
  />
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'FAQPage',
      mainEntity: [
        {
          '@type': 'Question',
          name: 'What types of intellectual property are listed on Intellectual Frontiers?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'The portfolio includes two key categories of intellectual assets: Patents – Available for sale and licensing, spanning software, medical devices, blockchain, healthcare, and other high-growth industries. Defensive Disclosures – Publicly documented innovations that prevent competitors from patenting key technologies where traditional patenting may not be viable. Many disclosures relate to strategically and carefully identified whitespaces around patented portfolios so as to provide a more robust space for buyers to implement the patented innovations without worrying about competitive threats.',
          },
        },
        {
          '@type': 'Question',
          name: 'How can I explore available patents and defensive disclosures?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'You can browse comprehensive listings on the website. Each entry includes a detailed profile with descriptions, potential applications, and supporting visuals to help you assess its value.',
          },
        },
        {
          '@type': 'Question',
          name: 'What is the process for acquiring a patent from Intellectual Frontiers?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'To start the acquisition process, simply contact us through our website. Our team will guide you through licensing terms, pricing, and any additional steps needed to finalize the transaction.',
          },
        },
        {
          '@type': 'Question',
          name: 'What are defensive disclosures, and how do they differ from patents?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Defensive disclosures are publicly published innovations intended to prevent others from patenting the same idea. Unlike patents, they do not provide exclusive rights but serve as a strategic tool to block competitors from securing restrictive patents on certain technologies.',
          },
        },
        {
          '@type': 'Question',
          name: 'How do defensive disclosures contribute to an intellectual property strategy?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Defensive disclosures help businesses: Safeguard innovations that may not be practical to patent due to strategic reasons.Prevent competitors from patenting similar technologies, ensuring open industry access. Strengthen an IP portfolio by complementing patents with additional layers of protection.',
          },
        },
        {
          '@type': 'Question',
          name: 'Can I publish my own defensive disclosures on Intellectual Frontiers?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Yes. Intellectual Frontiers provides a platform for innovators to publish their defensive disclosures, ensuring their ideas are publicly documented and protected from restrictive patent claims. The publication dates are immutable, making them a reliable reference for patent examiners and researchers.',
          },
        },
        {
          '@type': 'Question',
          name: 'Can Intellectual Frontiers help integrate a specific patent or defensive disclosure into my business?',
          acceptedAnswer: {
            '@type': 'Answer',
            text: 'Absolutely. Our team can discuss how both patents and defensive disclosures can be leveraged for innovation, competitive positioning, and strategic growth within your industry.',
          },
        },
      ],
    }}
  />
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Explore Our Patents for Sale',
        href: '/patents',
        icon: 'tabler:arrow-right',
      },
      {
        // variant: 'primary',
        text: 'Explore Defensive Disclosures',
        href: '/defensive-disclosures',
        icon: 'tabler:arrow-right',
      },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '', alt: '' }}
  >
    <Fragment slot="title">Patents for Sale & Licensing | Explore Intellectual Assets & Defensive Disclosures</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Intellectual Frontiers is a premier platform for buying, selling, and licensing patents, featuring a diverse portfolio across software, medical devices, healthcare, and blockchain. Alongside patents available for acquisition, the site also features defensive disclosures — strategically published innovations that prevent competitors from securing patents on key technologies. Additionally, Intellectual Frontiers provides a space for innovators to publish their own defensive disclosures, ensuring their ideas remain publicly documented and protected.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <Features id="features" tagline="" title="Featured Patents" subtitle="" items={FeaturedpatentContent}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- <FeaturesDisclosure
  id="features"
  tagline=""
  title="Featured Defensive Disclosures"
  subtitle=""
  items={FeaturedDisclosure}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</FeaturesDisclosure> -->

  <!-- Features Widget *************** -->

  <Featurestopic id="features" tagline="" title="Featured Topics" subtitle="" items={FeaturedTopics} />

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 3.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->
  <!-- 
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2 title="Most Viewed Patents" subtitle="" tagline="" items={MostViewedPatent}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- <MostViewedDisclosures
  id="features"
  tagline=""
  title="Most Viewed Defensive Disclosures"
  subtitle=""
  items={FeaturedDisclosure}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</MostViewedDisclosures> -->

  <!-- HighlightedPosts Widget ******* -->

  <ArticleLatestPosts
    title="Latest Articles"
    information={`Gain new perspectives through our latest articles, offering insights and expert guidance.`}
  />

  <!-- <BlogLatestPosts
    title="Blog"
    information={`
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs title="Frequently Asked Questions" subtitle="" tagline="" classes={{ container: 'max-w-6xl' }} items={Faq}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
