---
import { getCollection } from 'astro:content';
import HorizontalCard from '../../components/HorizontalCard.astro';
import AudioPlayer from '../../components/audioPlayer.astro';
import Pagination from '../../components/pagination.astro';
import { marked } from 'marked';
import PlainTextRenderer from 'marked-plaintext';
import Layout from '~/layouts/PageLayout.astro';


const renderer = new PlainTextRenderer();

export async function getStaticPaths({ paginate }) {
  const episodes = await getCollection('episode');
  episodes.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(episodes, { pageSize: 5 });
}
const { page } = Astro.props;

const metadata = {
  title: 'Intellectual Frontiers Podcasts',
  description:
    'Intellectual Frontiers Podcasts',
  ignoreTitleTemplate: true,
  robots: {
      index: false,
      follow: false,
    },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-10 sm:py-10 lg:py-10 mx-auto max-w-4xl">
  <div>
    {
      page.data.map((episode, index) => (
        <HorizontalCard
          title={episode.data.title}
          cover={episode.data.cover}
          desc={marked.parse(episode.body.slice(0, 500), { renderer: renderer })}
          url={'/episode/' + episode.slug}
          audioUrl={episode.data.audioUrl}
          pubDate={episode.data.pubDate}
          duration={episode.data.duration}
          id={'card-' + index}
        />
      ))
    }
  </div>

  {(page.url.next || page.url.prev) && <Pagination page={page} />}
  </section>
</Layout>
<AudioPlayer />


