---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsArticleTag, fetchTaggedPosts } from '~/utils/article';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/article/List2.astro';
import Headline from '~/components/article/HeadlineWithCategories.astro';
import TopicsMetaData from '../../../../support/topicsmetadata.json';
// Remove Pagination import

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsArticleTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.props as Props;

const currentPage = 1; // Since we're removing pagination, we only have page 1

// Check if the tag is a patent number using a regular expression
const patentNumberPattern = /^[A-Za-z]+\d+[A-Za-z]+\d+$/;
const isPatentNumber = patentNumberPattern.test(tag);

const titleText = isPatentNumber
  ? tag.toUpperCase()
  : tag.replaceAll('-', ' ').replace(/\s[a-z]|^[a-z]/gi, (a) => a.toUpperCase());

// Get the associated value for the tag
const topicMetadataEntry = TopicsMetaData[tag];
// Construct the meta title for the page
const title = topicMetadataEntry?.metaTitle ?? `${titleText} Patent and Insights`;
// Construct the meta description for the page
const description = topicMetadataEntry?.metaDescription ?? `${titleText} Patent and Insights`;
// Update the metadata object
const metadata = {
  title,
  description,
  robots: {
    index: true,
    follow: blogTagRobots?.follow,
  },
  ignoreTitleTemplate: true,
};

// Get ALL posts for this tag (not just current page)
const allPosts = await fetchTaggedPosts();
const taggedPosts = allPosts.filter(
  (post) => Array.isArray(post.tags) && post.tags.find((elem) => elem.toLowerCase() === tag)
);
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 pb-12 sm:pb-16 lg:pb-20 pt-6 sm:pt-6 lg:pt-6 mx-auto max-w-7xl">
    <Headline
      subtitle={topicMetadataEntry?.shortDescription ??
        `Access the patent <span class="uppercase">${tag.replace(
          /-/g,
          ' '
        )}</span> available for acquisition. This collection includes detailed patent information, use cases, landscape analyses, market studies, informative articles, and additional resources to support informed decision-making.`}
    >
      <!-- {taggedPosts.length}
      {taggedPosts.length > 1 ? ' Matches' : ' Match'} Across Categories for Tag - -->
      <span class={isPatentNumber ? 'uppercase' : ''}>
        {topicMetadataEntry?.displayName ?? "'" + tag.replace(/-/g, ' ') + "'"}
      </span>
      {isPatentNumber && 'Patent and Insights'}
    </Headline>
    <BlogList posts={taggedPosts} />
    <!-- Remove Pagination component -->
  </section>
</Layout>
